.flex.flex-col.min-h-screen.text-center
  %section.flex-1
    %h2.p-16.text-2xl= current_hospital.name
    = link_to new_user_session_path, class: primary_button do
      Iniciar sesión
  %footer.p-4
    Todos los derechos son reservados 2018 -
    = Time.now.year
