body { font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; }

.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak { page-break-inside: avoid; }

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.word-wrap-break-word {
  word-wrap: break-word;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-13-pt {
  font-size: 13pt;
}

.font-size-11-px {
  font-size: 11px;
}

.font-size-1-em {
  font-size: 1em;
}

.pre-line {
  white-space: pre-line;
}

.display-inline-block {
  display: inline-block;
}

.vertical-align-middle {
  vertical-align: middle;
}
