body { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak { page-break-inside: avoid; }

.container {
  padding-top: 10px;
  margin: 0 auto;
  width: 90%;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 2px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-top-1-em {
  margin-top: 1em;
}
