= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    = link_to "Regresar", :referred_doctors

= render "shared/section" do
  = render "form", referred_doctor: @referred_doctor, title: t("helpers.submit.referred_doctor.create")
