<!DOCTYPE html>
<html lang="es">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title><%= current_hospital.name %></title>
</head>
<body>
  <%= yield %>
</body>
</html>
