<!DOCTYPE html>
<html lang="es">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>Consulta Medica de <%= @medical_consultation.patient %></title>
  <style>
    pre {
      font-size: 11px;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    .container > div {
      word-wrap: break-word;
    }

    .header {
      font-size: 13px;
      margin-right: 80px;
    }

    .text-uppercase {
      text-transform: uppercase;
    }

    .text-right {
      text-align: right;
    }

    .text-size-13 {
      text-size: 13pt;
    }
  </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
