%tr
  %td= medical_consultation.reason
  %td= l medical_consultation.created_at, format: :long
  %td
    = link_to medical_consultation_path(medical_consultation), class: "button is-info" do
      %i.fa.fa-eye
      &nbsp;Detalles
