%tr
  %td= hospitalization.starting
  %td= hospitalization.ending
  %td= hospitalization.days_of_stay
  %td
    = link_to hospitalization_path(hospitalization), class: "button is-info" do
      %i.fa.fa-eye
      &nbsp;Detalles
