.card
  %header.card-header
    %p.card-header-title
      %span.icon
        %i.fa.fa-ambulance
      %span.is-uppercase Actualizar Hospitalización
  .card-content
    .content
      = render 'form'
