= render "shared/section" do
  = link_to :hospitalizations do
    %span.fa.fa-arrow-left

= render "shared/section" do
  = render "form", hospitalization: @hospitalization, title: t("helpers.submit.hospitalization.update")
