= render "shared/section" do
  %div.flex.flex-col.md:flex-row.md:justify-between
    = link_to "Regresar", :hospitalizations
    Registrar Hospitalización

= render "shared/section" do
  = render "form", hospitalization: @hospitalization
