= form_tag(local_assigns[:search_path], method: :get) do
  .field.has-addons
    .control.has-icons-left
      %input{ type: "text", name: "query", value: "#{params[:query]}",
        class: "input", id: "query",
        placeholder: "Buscar #{placeholder}", autocomplete: "off" }
      %span.icon.is-small.is-left
        %i.fa.fa-search
    .control
      %button{ type: "submit", class: "button is-link" }
        Buscar

