%h3.mb-4.text-xl.font-bold.text-gray-900.dark:text-white Dirección

.grid.gap-4.grid-rows-4.grid-flow-row.md:grid-flow-col.text-xs
  - patient.address.attributes.slice("street", "colony", "number", "postal_code", "municipality", "state", "country").map do |key, value|
    - if value.present?
      %dl
        %dt= t("activerecord.attributes.address.#{key}")
        %dd.text-base= value
