-# frozen_string_literal: true

= simple_form_for(patient) do |f|
  %p Datos generales
  = render "patient_fields", f: f

  %p Domicilio
  = render "addresses/address_fields", f: f

  = f.button :submit
