.table-container
  %table.table.is-hoverable.is-fullwidth
    %thead.is-uppercase
      %tr
        %th Fecha
        %th Inicio
        %th Final
        %th Dias de estadia
        %th Acciones

    %tfoot
      %tr
        %th{ colspan: 5 }
          #pag_hospitalizations
            = paginate @hospitalizations, remote: true

    %tbody#hospitalizations
      = render @hospitalizations
