.columns
  .column
    .table-container
      %table.table.is-hoverable.is-fullwidth
        %thead
          %tr
            %th Motivo
            %th Fecha
            %th Acciones
        %tbody
          = render @medical_consultations
