%tr
  %td= patient
  %td= l patient.created_at, format: :day_month_year
  %td= l patient.updated_at, format: :day_month_year
  %td
    .buttons.is-right
      = link_to patient, class: "button is-link" do
        %span.icon
          %i.fa.fa-eye
        %span Detalles
