= render ActionsBarComponent.new(subject: :patient)

.table-container
  %table.table.is-hoverable.is-fullwidth
    %thead.is-uppercase
      %tr
        %th Nombre
        %th Registrado
        %th Actualizado
        %th.has-text-right Acciones
    %tbody
      = render @patients
    %tfoot
      %tr
        %th{ colspan: 4 }
          = paginate @patients, params: { query: params[:query] }
          %br
          .has-text-right
            = page_entries_info @patients, entry_name: "pacientes"
