= render "shared/section" do
  = link_to :patient_referrals do
    %span.fa.fa-arrow-left

= render "shared/section" do
  = render "form", patient_referral: @patient_referral, title: t("helpers.submit.patient_referral.update")
