= render "shared/section" do
  = link_to :appoinments do
    %i.fa.fa-arrow-left

= render "shared/section" do
  = render "form", appoinment: @appoinment, title: t("helpers.submit.appoinment.create")
