<p class="header">Bienvenido <%= @email %>!</p>

<p class="paragraph">
  Puede confirmar el correo electrónico de su cuenta a través del siguiente enlace:
</p>

<p class="paragraph-center">
  <%= link_to 'Confirmar mi cuenta',
    confirmation_url(@resource, confirmation_token: @token, subdomain: @resource.hospital_subdomain),
    class: "button button--green" %>
</p>
