<p class="header">Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p class="paragraph">
    Lo contactamos para notificarle que su correo electrónico esta siendo cambiado por <%= @resource.unconfirmed_email %>.
  </p>
<% else %>
  <p class="paragraph">
    Lo contactamos para notificarle que su correo electrónico ha sido cambiado por <%= @resource.email %>.
  </p>
<% end %>
