<p class="header">Hola <%= @resource.email %>!</p>

<p class="paragraph">
  Alguien ha solicitado un enlace para cambiar su contraseña. Puedes hacerlo a través del siguiente enlace:
</p>

<p class="paragraph-center">
  <%= link_to 'Cambiar mi contraseña',
    edit_password_url(@resource, reset_password_token: @token, subdomain: @resource.hospital_subdomain),
    class: "button button--red" %>
</p>

<p class="paragraph-sub">
  Si no ha solicitado esto, ignore este correo electrónico.
</p>
<p class="paragraph-sub">
  Su contraseña no cambiará hasta que acceda al enlace anterior y cree uno nuevo.
</p>
