<p class="header">Hola <%= @resource.email %>!</p>

<p class="paragraph">
  Su cuenta se ha bloqueado debido a un número excesivo de intentos de inicio de sesión fallidos.
</p>

<p class="paragraph">
  Haga clic en el enlace de abajo para desbloquear su cuenta:
</p>

<p class="paragraph-center">
  <%= link_to 'Desbloquear mi cuenta',
    unlock_url(@resource, unlock_token: @token, subdomain: @resource.hospital_subdomain),
    class: "button button--blue" %>
</p>
