- unless flash.empty?
  - if flash[:notice]
    #flash.notification.is-success
      %button.delete
      %p= notice
  - if flash[:alert]
    #flash.notification.is-danger
      %button.delete
      %p= alert
