- unless flash.empty?
  - if flash[:notice]
    .p-4.text-sm.text-green-800.rounded-lg.bg-green-50.dark:bg-green-50.dark:text-green-400.border.border-green-500{role: :alert}
      %span.font-medium= notice
  - if flash[:alert]
    .p-4.text-sm.text-white.rounded-lg.bg-red-400.dark:bg-red-400.border.border-red-500{role: :alert}
      %span.font-medium= alert
