!!!
%html
  %head
    = render "layouts/partials/head"
  %body.bg-gray-200.dark:bg-gray-900.text-gray-800.dark:text-gray-200{"data-controller": :sidebar}
    = render "layouts/partials/navbar"
    %section.flex.pt-16.overflow-hidden
      = render "layouts/partials/sidebar"
      %section.w-full.h-full.overflow-y-auto.lg:ml-64
        %main.p-4.space-y-6
          = yield
