!!!
%html
  %head
    = render "layouts/head"
  %body.bg-gray-50.dark:bg-gray-900
    .flex.flex-col.items-center.justify-start.px-6.py-8.mx-auto
      .w-full.rounded-lg.shadow.dark:border.sm:max-w-md.bg-white.dark:bg-gray-800.dark:border-gray-700
        .p-4.space-y-4.md:space-y-6
          = render "layouts/flash"
          = yield
